:root {
  --accent: #852073;
}

.clearfix::after, .clearfix::before {
    content: "";
    clear: both;
    display: table; 
}

body {
  font-family: Nunito, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #777;
  font-size: 15px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grabbing, .grabbing * {
  cursor: grabbing !important;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}