:root {
  --accent: #852073;
}

.clearfix::after, .clearfix::before {
    content: "";
    clear: both;
    display: table; 
}

html { // avoiding moving img and having an accidental reload on mobile
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  margin: 0;
  padding: 0;
  color: #777;
  font-size: 15px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

*, *:after, *:before {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 10px;
}

.pos-full {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grabbing, .grabbing * {
  cursor: grabbing !important;
}

.file-dragging {
  pointer-events: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  letter-spacing: inherit;
  outline: none;
  background: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}
button:focus {
  background: transparent;
  outline: none;
}